---
import { markdownify } from "@/lib/utils/textConverter";

type Props = {
  content: {
    enable?: boolean;
    label: string;
  };
  class?: string;
  [key: string]: any;
};

const {
  content: { enable, label },
  ...rest
} = Astro.props;
---

{
  enable && (
    <button
      data-content={label}
      data-tf-popup="EjSgPPjE"
      data-tf-iframe-props="title=Contact sensëa"
      data-tf-medium="snippet"
      data-tf-size="90"
      class:list={["btn", Astro.props.class, "relative overflow-hidden"]}
      {...rest}>
      <span class="label" set:html={markdownify(label)} />
      <slot />
    </button>
  )
}
